<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="HTMLFILE" class="ch.qos.logback.core.FileAppender">
        <file>${project.settings.logger.folder}/${bySecond}-${project.settings.nameseed}.html</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>%date%thread%level%class%method%file%line%message</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="${project.settings.logger.logback.level}">
        <appender-ref ref="HTMLFILE"/>
    </root>
</configuration>
